.container {
    margin: 20;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color:#000000;
    text-align: center;
}

.body-container {
    margin: 20;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 20em 1em;
    text-align: center;
}

#main_title {
    position: absolute;
    left: 67px;
    top: 80px;
}

.footer {
    padding: 3em;
    color:white;
}

.logo {
    position: relative;
}

#hy_logo {
    position: absolute;
    left: 5px;
    top: 5px;
}

h1 {
    position:relative;
    top: 0px
}
