html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 20;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 2em;
}

.body-container {
    margin: 20;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    text-align: center;
    flex: 1;
    padding: 4em;
}

#main_title {
    position: absolute;
    left: 6em;
    top: 25%;
}

.footer {
    padding: 3em;
    color:white;
    background-color:black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo {
    position: relative;
}

#hy_logo {
    position: absolute;
    left: 1em;
    top: 16%;
    height: 80px;
}

form {
    display: inline;
}

@media screen and (max-width: 600px) {
    #hy_logo {
        height: 70px;
    }

    #main_title {
        font-size: 100%;
    }

    .body-container {
        padding: 2em;
    }
    
    .hide-on-mobile{
        display: none;
    }

    table#mobile th:not(.hide-on-mobile) {
        display: flex;
    }

    table#mobile {
        align-self: left;
    }

    table#mobile td:not(.hide-on-mobile) {
        display: flex;
        text-align: left;
        width: 100%;
    }
      
    table#mobile td::before {
        content: attr(label);
        font-weight: bold;
        width: 150px;
        min-width: 150px;
        text-align: left;
    }

    .float-start{
        width: 100%;
    }

    .footer {
        padding: 1em;
    }
}