{% extends "layout.html" %}
{% block title %} Arkisto {% endblock %}
{% block content %}
<div class="container-sm">
  <h1>Arkisto</h1>
  <table class="table table-sm table-bordered align-middle" id="mobile">
    <thead>
      <tr class="table-secondary">
        <th class="hide-on-mobile" scope="col">Opiskelija</th>
        <th class="hide-on-mobile" scope="col">Opiskelijanumero</th>
        <th class="hide-on-mobile" scope="col">Sähköpostiosoite</th>
        <th class="hide-on-mobile" scope="col">Palautukset</th>
      </tr>
    </thead>
    {% for student in users %}
      <tbody>
        <td label="Opiskelija">{{ student.first_name }} {{ student.last_name }}</td>
        <td label="Opiskelijanumero">{{ student.student_id }}</td>
        <td label="Sähköposti">{{ student.email }}</td>
        <td label="Palautukset" data-testid="{{ student.id }}">
          <a href="/personal_archive/{{student.id}}" class="btn btn-light btn-outline-dark">Näytä</a>
        </td>
    {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
