{% extends "layout.html" %}
{% block title %} Created labs {% endblock %}
{% block content %}

<h1>Harjoitusryhmät kursseittain</h1>
{% for course in courses %}
<div class="container-sm" id="table-sm">
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th colspan="4">{{course.name}}</th>
      <th>
        <form action="/create_group" method="GET">
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <input type="hidden" name="course_name" value="{{ course.name }}">
          <input class="btn btn-light btn-outline-dark" id="button" type="submit" data-testid="group_{{course.id}}" value="Luo uusi ryhmä">
        </form>
      </th>
    </tr>
    <tr class="table-light">
      <th>Laboratoriotyöt</th>
      <th>Päivämäärä</th>
      <th>Aika</th>
      <th>Paikka</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for lab in labs %}
   {% if lab.course_id == course.id %}
    {% for lab_group in lab_groups %}
     {% if lab_group.lab_id == lab.id %}
      {% if lab.is_visible == 1 %}
        <tr>
          <td>{{lab.name}}</td>
          <td>{{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}</td>
          <td>{{lab_group.start_time.hour}} - {{lab_group.end_time.hour}}</td>
          <td>{{lab_group.place}}</td>
          {% if lab_group.status == 0 %}
           <td>Ei aktivoitu</td>
          {% elif lab_group.status == 1 %}
           <td>Ryhmä aktivoitu</td>
          {% elif lab_group.status == 2 %}
           <td>Vahvistettu</td>
          {% elif lab_group.status == 3 %}
           <td>Peruttu</td>
          {% endif %}
         </tr>
      {% endif %}
     {% endif %}
    {% endfor %}
   {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}

<h1>Harjoitustyöt kursseittain</h1><br>

{% if not courses %}
Ei kursseja

{% else %}

{% for course in courses %}
<div class="container-sm">
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th colspan="2">{{ course.name }}</th>
      <th>
        <form action="/create_lab" method="GET">
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <input class="btn btn-light btn-outline-dark" id="button" data-testid="{{ course.id }}" type="submit" value="Luo uusi työ">
        </form>
      </th>
    </tr>
    <tr class="table-light">
      <th>Työn nimi</th>
      <th>Oppilasmäärä</th>
      <th>Muokkaa</th>
    </tr>
  </thead>
  <tbody>
    {% if not course.labs_set.all %}
      <tr>
        <td colspan="4">Ei laboratoriotöitä</td>
      </tr>
    {% else %}
      {% for lab in course.labs_set.all %}
        {% if lab.deleted == 0 %}
        <tr>
          <td type="text" name="lab_name" {% if lab.is_visible == 0 %} class="text-muted" {% endif %}>
            {{ lab.name }}
          </td>
          <td type="number" name="max_students" {% if lab.is_visible == 0 %} class="text-muted" {% endif %}>
            {{ lab.max_students }}
          </td>
          <td>
            {% if lab.is_visible == 0 %}
              <a href='/make_lab_visible/{{ lab.id }}' class="btn btn-light btn-outline-dark">Aktivoi</a>
            {% else %}
              <a href='/make_lab_visible/{{ lab.id }}' class="btn btn-light btn-outline-dark">Deaktivoi</a>
            {% endif %}
            <a href='/delete_lab/{{ lab.id }}' class="btn btn-light btn-outline-dark">Poista</a> 
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
{% endfor %}
{% endif %}
{% endblock %}
