{% extends "layout.html" %}
{% block title %} Created labs {% endblock %}
{% block content %}

<h1>Harjoitustyöt kursseittain</h1><br>

{% if not courses %}
Ei kursseja

{% else %}

{% for course in courses %}
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th colspan="2">{{ course.name }}</th>
      <th>
        <form action="/create_lab" method="GET">
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <input class="btn btn-light btn-outline-dark" id="button" type="submit" value="Luo uusi työ">
        </form>
      </th>
    </tr>
    <tr class="table-light">
      <th>Työn nimi</th>
      <th>Oppilasmäärä</th>
      <th>Toiminnot</th>
    </tr>
  </thead>
  <tbody>
    {% if not course.labs_set.all %}
      <tr>
        <td colspan="3">Ei laboratoriotöitä</td>
      </tr>
    {% else %}
      {% for lab in course.labs_set.all %}
        <tr>
          <td>{{ lab.name }}</td>
          <td>{{ lab.max_students }}</td>
          <td>COMING SOON</td>
        </tr>

        <!-- {% for group in lab.labgroups_set.all %}
        <tr>
            <td>&nbsp;</td>
            <td>{{ group.date }}</td>
            <td>{{ group.start_time }} - {{ group.end_time }}</td>
            <td>{{ group.place }}</td>
            <td> {% if group.status == 0 %} Ei {% else %} Kyllä {% endif %}</td>
        </tr>
        {% endfor %} -->

      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endfor %}
{% endif %}
{% endblock %}
