{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker({
          format: "yyyy-mm-dd"}
        );
    });
</script>

<h1>{{course.name}}</h1><br>


<form action="/create_group/" method="POST">
    {% csrf_token %}
    <div class="container-fluid">
     <div class="row"> 
      <label for="date" class="col-sm-1 col-form-label">Päivä</label>
       <div class="col-4">
        <div class="input-group date" id="datepicker">
         <input type="text" class="form-control" name="date">
          <span class="input-group-append">
           <span class="input-group-text bg-white d-block">
            <i class="fa fa-calendar"></i>
           </span>
          </span>
        </div>
       </div>
     </div>
     <br>
     <div class="row">
      <label for="inputTime" class="col-sm-1 col-form-label">Aika</label>
       <div class="col-3">
        <select id="inputTime" class="form-control" name="time">
          <option selected>8-12</option>
          <option>12-16</option>
        </select>
       </div>
     </div>
     <br>
     <div class="row">
      <label for="inputPlace" class="col-sm-1 col-form-label">Paikka</label>
       <div class="col-3">
        <select id="inputPlace" class="form-control" name="place">
         <option selected>B152</option>
         <option>D210 (Phy)</option>
         <option>D211 (Phy)</option>
        </select>
       </div>
     </div>
     <br>
     <div class="row">
      <label class="col-sm-1 col-form-label">Valitse työt</label>
       <div class="col" style="text-align:left">
          {% for lab in labs %}
            {% if lab.course_id == course.id %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{lab.id}}" id="{{lab.id}}" name="labs[]">
                <label class="form-check-label row-cols-auto" for="{{lab.id}}">
                  {{lab.name}}
                </label>
              </div>
            {% endif %}
          {% endfor %}
       </div>
     </div>
    </div>
    <br>
    <input type="hidden" name="course_id" value="course.id">
    <input type="hidden" name="course_name" value="course.name">
    <input class="btn btn-light btn-outline-dark" type="submit" value="Luo labra">
</form>
<div class="filler"></div>

{% endblock %}