{% extends "layout.html" %}
{% block title %} Created labs {% endblock %}
{% block content %}
<div class="container-sm">
  <h1 class="float-left mb-3">Harjoitusryhmät kursseittain</h1>
</div>

{% for course in courses %}

<div class="container-sm" id="table-sm">
  <table class="table table-bordered align-middle">
    <thead>
      <tr class="table-secondary">
        <th class="align-middle" colspan="11">{{course.name}}</th>
      </tr>
      <tr class="table-light">
        <th colspan="1">Päivä</th>
        <th colspan="1">Aika</th>
        <th colspan="1">Paikka</th>
        <th colspan="4">Täyttöaste töittäin</th>
        <th colspan="1">Yhteensä</th>
        <th colspan="1">Vahvistus</th>
        <th colspan="2">Toiminnot</th>
      </tr>
    </thead>
    {% for date in groups_by_date %}
      {% if date.course == course %}
        <tbody>
          <td>{{date.date.day}}.{{date.date.month}}.{{date.date.year}}</td>
          <td>{{date.start_time.hour}}-{{date.end_time.hour}}</td>
          <td>{{date.place}}</td>
          {% for lab in date.labs %}
            <td>
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ lab.name }}">
                {% for group in date.groups %}
                  {% if group.lab_id == lab.id%}
                    {{group.signed_up_students}} / {{lab.max_students}}
                  {% endif %}
                {% endfor %}
              </span>
            </td>
          {% endfor %}
          <td>{{date.signup_sum}}</td>
          {% if date.groups.0.status == 1 %}
            <td>
              <form action="{% url 'confirm' %}" method="POST">
                {% csrf_token %}
                {% for group in date.groups %}
                  <input type="hidden" value="{{ group.id }}" name="lab_groups">
                {% endfor %}
                <button type="submit" class="btn btn-light btn-outline-success" data-testid="confirm_{{date.groups.0.id}}">Vahvista</button>
              </form>
            </td>
          {% elif date.groups.0.status == 2 %}
            <td>
              Vahvistettu
            </td>
          {% elif date.groups.0.status == 0 or date.groups.0.status == 3 %}
            <td></td>
          {% endif %}
          {% if date.groups.0.status == 0 or date.groups.0.status == 3 %}
          <td>
            <form action="{% url 'labgroup_status' %}" method="POST">
              {% csrf_token %}
              {% for group in date.groups %}
                <input type="hidden" value="{{ group.id }}" name="lab_groups">
              {% endfor %}
              <button type="submit" class="btn btn-light btn-outline-info" data-testid="publish_{{date.groups.0.id}}">Julkaise</button>
            </form>
          </td>
          {% elif date.groups.0.status == 1 or date.groups.0.status == 2  %}
            <td>
              <form action="{% url 'labgroup_status' %}" method="POST">
                {% csrf_token %}
                {% for group in date.groups %}
                  <input type="hidden" value="{{ group.id }}" name="lab_groups">
                {% endfor %}
                <button type="submit" class="btn btn-light btn-outline-danger" data-testid="cancel_{{date.groups.0.id}}">Peruuta</button>
              </form>
            </td>
          {% endif %}
          <td>
            <form action="{% url 'update_multiple_groups' %}" method="GET">
              {% for group in date.groups %}
                <input type="hidden" value="{{ group.id }}" name="lab_groups[]">
              {% endfor %}
              <input type="hidden" value="{{ course.id }}" name="course_id">
              <button type="submit" class="btn btn-light btn-outline-danger" data-testid="update_{{date.groups.0.id}}">Muokkaa</button>
            </form>
          </td>
        </tbody>
      {% endif %}
    {% endfor %}
  </table>
</div>

{% endfor %}




{% for course in courses %}
  <div class="container-sm" id="table-sm">
    <table class="table table-bordered align-middle" id="mobile">
      <thead>
        <tr class="table-secondary">
          <th class="align-middle" colspan="4">{{course.name}}</th>
          <th colspan="3">
            <form action="/create_group" method="GET">
              <input type="hidden" name="course_id" value="{{ course.id }}">
              <input type="hidden" name="course_name" value="{{ course.name }}">
              <input class="btn btn-light btn-outline-dark" id="button" type="submit" data-testid="course_{{course.id}}" value="Luo uusi ryhmä">
            </form>
          </th>
        </tr>
        <tr class="table-light">
          <th class="hide-on-mobile" width="10%">Ajankohta</th>
          <th class="hide-on-mobile" width="30%">Työ</th>
          <th class="hide-on-mobile" width="15%">Paikka</th>
          <th class="hide-on-mobile" width="15%">Status</th>
          <th class="hide-on-mobile" width="30%" colspan="3">Muokkaa</th>
        </tr>
      </thead>
      <tbody>
        {% for lab in labs %}
          {% if lab.course_id == course.id %}
            {% for lab_group in lab_groups %}
              {% if lab_group.lab_id == lab.id %}
                <tr>         
                  <td label="Ajankohta" data-testid="date_{{ lab_group.id }}">
                    {{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}
                    <br>
                    klo {{lab_group.start_time.hour}} - {{lab_group.end_time.hour}}
                  </td>
                  <td label="Työ">{{lab.name}}</td>
                  <td label="Paikka" data-testid="place_{{ lab_group.id }}">{{lab_group.place}}</td>
                  {% if lab_group.status == 0 %}
                    <td label="Status" data-testid="status_{{ lab_group.id }}">Ei julkaistu</td>
                  {% elif lab_group.status == 1 %}
                    <td label ="Status" data-testid="status_{{ lab_group.id }}">Ilmoittautuminen käynnissä</td>
                  {% elif lab_group.status == 2 %}
                    <td label="Status" data-testid="status_{{ lab_group.id }}">Vahvistettu</td>
                  {% elif lab_group.status == 3 %}
                    <td label="Status" data-testid="status_{{ lab_group.id }}">Peruttu</td>
                  {% endif %}
                    <td>
                      <form action="/update_group/{{ lab_group.id }}" method="GET">
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                        <input type="hidden" name="course_name" value="{{ course.name }}">
                        <input class="btn btn-light btn-outline-dark" id="button" type="submit" data-testid="group_{{lab_group.id}}" value="Muokkaa">
                      </form>
                    </td>
                    <td>
                      <button type="button" class="btn btn-light btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteLabGroupModal_{{ lab_group.id }}" data-testid="lab_group_{{lab_group.id}}">
                        Poista
                      </button>
                      <div class="modal fade" id="deleteLabGroupModal_{{ lab_group.id }}" tabindex="-1" aria-labelledby="deleteLabGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="deleteLabGroupModalLabel">Poistetaanko ryhmä: {{lab.name}}, {{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <button type="button" class="btn btn-light btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Eiku</button>
                              <a href='/delete_labgroup/{{ lab_group.id }}' class="btn btn-light btn-outline-dark" data-testid="delete_lab_group_{{lab_group.id}}">Poista</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                </tr>
             {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
<div class="container-sm">
  <h1 class="float-left mt-4 mb-3">Harjoitustyöt kursseittain</h1>
</div>
{% if not courses %}
  Ei kursseja
{% else %}
  {% for course in courses %}
    <div class="container-sm">
      <table class="table table-bordered align-middle" id="mobile">
        <thead>
          <tr class="table-secondary">
            <th class="align-middle" colspan="2">{{ course.name }}</th>
            <th colspan="2">
              <form action="/create_lab" method="GET">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <input class="btn btn-light btn-outline-dark" id="button" data-testid="{{ course.id }}" type="submit" value="Luo uusi työ">
              </form>
            </th>
          </tr>
          <tr class="table-light">
            <th class="hide-on-mobile" width="50%">Työ</th>
            <th class="hide-on-mobile" width="20%">Oppilasmäärä</th>
            <th class="hide-on-mobile" width="30%" colspan="2">Muokkaa</th>
          </tr>
        </thead>
        <tbody>
          {% if not course.labs_set.all %}
            <tr>
              <td colspan="4">Ei laboratoriotöitä</td>
            </tr>
          {% else %}
            {% for lab in course.labs_set.all %}
              {% if lab.deleted == 0 %}
                <tr>
                  <td label="Työ" type="text" name="lab_name" {% if lab.is_visible == 0 %} class="text-muted" {% endif %}>
                    {{ lab.name }}
                  </td>
                  <td label="Oppilasmäärä" type="number" name="max_students" {% if lab.is_visible == 0 %} class="text-muted" {% endif %}>
                    {{ lab.max_students }}
                  </td>
                  <td label="Muokkaa" width="15%">
                    {% if lab.is_visible == 0 %}
                      <a href='/make_lab_visible/{{ lab.id }}' class="btn btn-light btn-outline-dark">Aktivoi</a>
                    {% else %}
                      <a href='/make_lab_visible/{{ lab.id }}' class="btn btn-light btn-outline-dark">Deaktivoi</a>
                    {% endif %}
                  </td>
                  <td width="15%">
                    <button type="button" class="btn btn-light btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteLabModal_{{ lab.id }}">
                      Poista
                    </button>
                    <div class="modal fade" id="deleteLabModal_{{ lab.id }}" tabindex="-1" aria-labelledby="deleteLabModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteLabModalLabel">Poistetaanko {{lab.name}}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <button type="button" class="btn btn-light btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Eiku</button>
                            <a href='/delete_lab/{{ lab.id }}' class="btn btn-light btn-outline-dark">Poista</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>        
  {% endfor %}
{% endif %}
{% endblock %}
