{% extends "layout.html" %}
{% block title %} Create group {% endblock %}
{% block content %}

<script type="text/javascript">
    $(function() {
        $("#datepicker").datepicker({
          format: "yyyy-mm-dd"}
        );
    });
</script>

<h1>{{course.name}}</h1><br>

<form action="/create_group/" method="POST">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <label for="date" class="col-sm-1 col-form-label">Päivä</label>
      <div class="col-4">
        <div class="input-group date" id="datepicker">
          <input type="text" class="form-control" data-testid="date" name="date">
          <span class="input-group-append">
            <span class="input-group-text bg-white d-block">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <label for="startTime" class="col-sm-1 col-form-label">Aloitusaika</label>
      <div class="col-3">
        <input id="startTime" type="time" value="08:00" name="start_time" data-testid="start_time" data-input>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <label for="endTime" class="col-sm-1 col-form-label">Lopetusaika</label>
      <div class="col-3">
        <input id="endTime" type="time" value="12:00" name="end_time" data-testid="end_time" data-input>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <label for="inputPlace" class="col-sm-1 col-form-label">Paikka</label>
      <div class="col-3">
        <select id="inputPlace" class="form-control" data-testid="place"
          name="place">
          <option selected>B152</option>
          <option>D210 (Phy)</option>
          <option>D211 (Phy)</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <h3>Valitse työt: </h3>
      <div class="col text-center">
        {% for lab in labs %}
          {% if lab.course_id == course.id %}
            {% if lab.is_visible == 1 %}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" value="{{lab.id}}"
                  data-testid="{{lab.id}}" id="{{lab.id}}" name="labs[]">
                <label class="form-check-label ml-2" for="{{lab.id}}">{{lab.name}}</label>
              </div>
            {% elif lab.is_visible == 0 %}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" value="{{lab.id}}"
                  data-testid="{{lab.id}}" id="{{lab.id}}" name="labs[]" disabled>
                <label class="form-check-label ml-2" for="{{lab.id}}">{{lab.name}}</label>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <label for="inputPlace" class="col-sm-1 col-form-label">Assistentti</label>
      <div class="col-3">
        <select id="inputPlace" class="form-control" data-testid="assistant"
          name="assistant">
          {% for assistant in assistants %}
            <option value="{{assistant.id}}">{{assistant.username}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <input type="hidden" name="course_id" value="course.id">
  <input type="hidden" name="course_name" value="course.name">
  <input class="btn btn-light btn-outline-dark" type="submit" value="Luo labra">
</form>
{% endblock %}
