{% extends "layout.html" %}
{% block title %} Arvostele työ {% endblock %}
{% block content %}
<script>
  $(document).ready(function () {
    $('#resetbtn').on('click', function (event) {
      event.preventDefault();
      let $el = $('#fileid');
      $el.wrap('<form>').closest(
        'form').get(0).reset();
      $el.unwrap();
      });
    });
</script>
<div class="container-sm">
  <h1>Arvostele työ</h1>
  <form action="/evaluate_report/{{ report.id }}/{{ lab_id}}/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered" id="mobile">
      <tbody>
        <tr>
          <td class="hide-on-mobile">Opiskelija</td>
          <td label="Opiskelija">{{ student.first_name }} {{ student.last_name }}</td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Kurssi</td>
          <td label="Kurssi">{{ course.name }}</td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Työ</td>
          <td label="Työ">{{ lab.name }}</td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Ryhmä</td>
          <td label="Ryhmä">{{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}</td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Palautuspäivä</td>
          <td label="Palautuspäivä">{{ report.send_date.day }}.{{ report.send_date.month }}.{{ report.send_date.year }}</td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Raportti</td>
          <td label="Raportti"><a href="/download_report/{{ report.report_file_name }}" download>{{ report.report_file_name }}</a></td>
        </tr>
        <tr>
          <td class="hide-on-mobile">Arvosana</td>
          <td label="Arvosana">
            <select class="form-select" name="grade" data-testid="select_grade">
              <option value="" selected disabled hidden>{{ report.grade }}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="0">Vaatii korjausta</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="hide-on-mobile" rowspan="2">Kommentit</td>
          <td label="Kommentit">
            <textarea class="form-control" name="comments" rows="3" data-testid="comment"></textarea>
          </td>
        </tr>
        <tr>
          <td label="Kommenttitiedosto">
            <class="hide-on-mobile">Palauta kommenttitiedosto:</class>
            <input type="file" name="file" id="fileid" data-testid="file">
            <button class="btn btn-light btn-outline-dark" id="resetbtn">Tyhjennä</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input class="btn btn-light btn-outline-dark" type="submit" value="Arvostele">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <form action="/report_notes/{{ report.id }}/{{ lab_id }}/" method="POST">
    {% csrf_token %}
    <table class="table table-bordered" id="mobile">
      <tr>
        <td class="hide-on-mobile" width="18.5%">Muistiinpanot</td>
        <td label="Muistiinpanot">
          <textarea class="form-control" name="notes" rows="4" data-testid="notes">{{ report.notes }}</textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input class="btn btn-light btn-outline-dark" type="submit" value="Tallenna muistiinpanot">
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
