{% extends "layout.html" %}
{% block title %} Future labs {% endblock %}
{% block content %}

<h1>Tulevat labrat</h1><br>
{%for course in courses%}
<td><b>Kurssin nimi: </b></td>{{ course.name }}
<br>
<td><b>Kurssin kuvaus: </b></td>{{ course.description }}
<br>
<td><b>Oppilasmäärä: </b></td>{{ course.labs_amount }}
{% if course.is_visible %}
    <p>Kurssi tulossa pian</p>
    <button>
        Ilmoittaudu
    </button>
    <br>
{% else %}
    <p>Kurssia ei tulossa</p>
{% endif %}
<br>
{% endfor %}
{% endblock %}


