{% extends "layout.html" %}
{% block title %} Ohjeet {% endblock %}
{% block content %}

  <div class="container-sm">
    {% if user.is_staff %}
      <table class="table table-bordered align-left"
        <thead>
          <tr class="table-secondary">
            <th>
              <h2>Assistentin ohje</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">
              <p>
                <b>Opetus</b>
                <br><br>
                Tällä sivulla voi luoda uusia harjoitusryhmiä. Ryhmien luominen tapahtuu painamalla halutun kurssin kohdalta <button class="btn btn-sm btn-light btn-outline-dark">Luo uusi ryhmä</button>.
                Luomisen yhteydessä valitaan päivä, aika, paikka, työt ja assistentti. Ryhmään ilmoittautuminen avataan painamalla <button class="btn btn-sm btn-light btn-outline-info">Julkaise</button>. Ryhmän
                voi peruuttaa painamalla <button class="btn btn-sm btn-light btn-outline-danger">Peruuta</button>. Ryhmien tietoja voi myös muokata. Taulukosta näkee ryhmän töiden osallistujamäärän, ja kun ryhmässä on
                tarpeeksi osallistujia, sen voi vahvistaa. Tästä lähtee ilmoittautuneille opiskelijoille sähköpostiviesti. Ryhmässä olevia töitä on mahdollista muokata tai poistaa yksittäin alemmasta taulukosta käsin.
                <br><br>
                Painamalla <button class="btn btn-sm btn-light btn-outline-dark">Luo uusi työ</button> voi luoda kurssille uuden laboratoriotyön. Luomisen yhteydessä kysytään työn nimi, kuvaus ja ryhmäkoko.
                Kun työ on aktiivisessa tilassa, se on valittavissa ryhmää luodessa. Jos työ on deaktivoitu, sitä ei voi sisällyttää ryhmään. Työn voi myös poistaa.
              </p>
            </td>
          </tr>
          <tr>
            <td class="left-align">
              <p>
                <b>Laboratoriotyöt</b>
                <br><br>
                Tällä sivulla voi tarkastella, ketkä oppilaat ovat ilmoittautuneet harjoitustöihin.
              </p>
            </td>
          </tr>
          <tr>
            <td class="left-align">
              <p>    
                <b>Palautukset</b>
                <br><br>
                Oppilaiden palautuksien arvosteleminen tapahtuu täällä. Jokaiselle raportille on määritelty assistentti, jonka on määrä tarkastaa raportti. Assistentin voi vaihtaa, ja raportin pystyy arvostelemaan 
                myös muu kuin määritelty assistentti. Raportin arvosteluun pääsee painamalla <button class="btn btn-sm btn-light btn-outline-dark">Avaa</button>. Raportin voi ladata painamalla raporttitiedostoa. Arvosana 
                valitaan valikosta, ja kommentit voi antaa joko vapaaseen tekstikenttään tai PDF-tiedostona. Jos raportti ei ole hyväksyttävä ja vaatii korjausta, valitse arvosanavalikosta <i>Vaatii korjausta</i>. Tällöin
                oppilas voi palauttaa parannellun version. Kun raportti on arvosteltu, arvosana näkyy statustilassa.
              </p>
            </td>
          </tr>
          <tr>
            <td class="left-align">
              <p>    
                <b>Arkisto</b>
                <br><br>
                Arkistossa näkyvät kaikki järjestelmään kirjautuneet opiskelijat. Painamalla <button class="btn btn-sm btn-light btn-outline-dark">Näytä</button> aukeaa sivu, jonne on listattu kyseisen opiskelijan suoritukset.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <table class="table table-bordered align-left">
        <thead>
            <tr class="table-secondary">
              <th>
                <h2>Ajankohtaista</h2>
              </th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">
              <p>
              <p>
              <b>Tiedotteet</b>
              <br><br>
                {{ current_message }}
              <p>    
            </td>
          </tr>
        </tbody>
        <thead>
          <tr class="table-secondary">
            <th>
              <h2>Opiskelijan ohje</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">
              <p>
                <b>Laboratoriotyöt</b>
                <br><br>
                Laboratoriotöihin ilmoittautuminen tapahtuu täällä. Ilmoittautumisnapin vasemmalla puolella näkyy työn osallistujamäärä sekä ryhmäkoko.
                Mikäli ryhmä on täynnä, siihen ei voi enää ilmoittautua. Kun ilmoittautuminen on vahvistettu, siitä lähetetään ilmoitus sähköpostitse.
                Mikäli ryhmä perutaan, siitäkin ilmoitetaan sähköpostilla. Painamalla <button class="btn btn-sm btn-light btn-outline-dark">Lisätietoa</button> 
                pääsee tarkastelemaan kurssille kuuluvia töitä.
              </p>      
            </td>
          </tr>
          <tr>
            <td class="left-align">
              <p>
                <b>Omat labrat</b>
                <br><br>
                Tällä sivulla näkyvät kaikki työt, joihin oppilas on ilmoittautunut. Kun ilmoittautuminen on vahvistettu, tausta muuttuu vihreäksi.
                Jos työ perutaan, muuttuu tausta punaiseksi. Raportin palauttaminen tapahtuu painamalla <button class="btn btn-sm btn-light btn-outline-dark">Palauta raportti</button>.
                Raportin tulee olla PDF-tiedosto. Opettajan kommentit ja arvosana avautuvat painamalla 
                <button class="btn btn-sm btn-light btn-outline-dark">Avaa</button>.
              </p>
            </td>
          </tr>
          <tr>
            <td class="left-align">
              <p>    
                <b>Omat tiedot</b>
                <br><br>
                Jos haluaa vaihtaa sähköpostiosoitetta, johon ilmoitukset lähetetään, sen voi tehdä täällä.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
