{% extends "layout.html" %}
{% block title %} Open Labs {% endblock %}
{% block content %}
<div class="container-sm">
  <h1 class="text-left mb-3">Avoimet labrat</h1>
</div>
{% for course in courses %}
  <div class="container-sm">
    <table class="table table-bordered align-middle" id="mobile">
      <thead>
        <tr class="table-secondary">
          <th class="align-middle border-right-0" colspan="5">{{course.name}}</th>
          <td class="border-left-0">
            <button type="button" class="btn btn-light btn-outline-dark" data-testid="{{ course.id }}" data-bs-toggle="modal" data-bs-target="#info_{{ course.id }}">
              Lisätietoa
            </button>
            <div class="modal fade" id="info_{{ course.id }}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="courseinfoLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="courseinfoLabel">
                      Järjestettävät laboratoriotyöt
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-testid="close_{{ course.id }}"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      {% for lab in labs %}
                        {% if lab.is_visible == 1 %}
                          {% if lab.course_id == course.id %}
                            <div class="col-sm-6 pt-2 pb-3">
                              <div class="card h-100">
                                <h6 class="card-header" data-testid="name_{{ lab.id }}"><b>{{ lab.name }}</b></h6>
                                <div class="card-body p-2 d-flex flex-column">
                                  <p class="card-text" data-testid="desc_{{ lab.id }}">{{ lab.description }}</p>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="table-light">
          <th class="hide-on-mobile" width="30%">Laboratoriotyöt</th>
          <th class="hide-on-mobile" width="15%">Ajankohta</th>
          <th class="hide-on-mobile" width="10%">Paikka</th>
          <th class="hide-on-mobile" width="25%" colspan="2">Ilmoittautuminen</th>
          <th class="hide-on-mobile" width="20%">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for lab in labs %}
          {% if lab.course_id == course.id %}
            {% for lab_group in lab_groups %}
              {% if lab_group.lab_id == lab.id %}
              {% if lab_group.deleted == 0 %}
                {% if lab.is_visible == 1 %}
                  {% if lab_group.status == 1 or lab_group.status == 2 %}
                    <tr
                      {% if not user.is_staff %}
                        {% if lab_group.id in users_enrollments %}
                          class="green"
                        {% elif lab_group.signed_up_students == lab.max_students %}
                          class="red"
                        {% endif %}
                    {% endif %}>
                      <td label="Laboratoriotyö">{{lab.name}}</td>
                      <td label="Ajankohta">
                        {{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}
                        <br>
                        klo
                        {% if lab_group.start_time.minute > 10 %}
                          {{lab_group.start_time.hour}}:{{lab_group.start_time.minute}}
                        {% else %}
                          {{lab_group.start_time.hour}}:0{{lab_group.start_time.minute}}
                        {% endif %} -
                        {% if lab_group.end_time.minute > 10 %}
                          {{lab_group.end_time.hour}}:{{lab_group.end_time.minute}}
                        {% else %}
                          {{lab_group.end_time.hour}}:0{{lab_group.end_time.minute}}
                        {% endif %}
                      </td>
                      <td label="Paikka">{{lab_group.place}}</td>
                      <td label="Ilmoittautuminen"><div id="signed_up{{ lab_group.id }}">{{ lab_group.signed_up_students }}/{{lab.max_students}}</div></td>
                      {% if user.is_staff %}
                        <td>
                          <button type="button" class="btn btn-light btn-outline-dark" data-testid="{{ lab_group.id }}" data-bs-toggle="modal" data-bs-target="#students{{lab_group.id}}">
                            Katso ilmoittautuneet
                          </button>
                          <div class="modal fade" id="students{{lab_group.id}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="studentsLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="studentsLabel">
                                    Ilmoittautuneet opiskelijat
                                  </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-testid="close_{{lab_group.id}}"></button>
                                </div>
                                <div class="modal-body">
                                  {% for signup in signedup %}
                                  {% if signup.labgroups_id == lab_group.id %}
                                    <p><b  data-testid="{{signup.user}}">{{signup.user.first_name}} {{signup.user.last_name}}:</b> {{signup.user.email}},  {{signup.user.student_id}}<br></p>
                                  {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      {% elif lab_group.signed_up_students == lab.max_students and lab_group.id not in users_enrollments%}
                        <td>Täynnä</td>
                      {% elif lab_group.id in users_enrollments %}
                        {% if lab_group.status == 1 %}
                          <td>
                            <form method="POST" action="/cancel_enrollment/{{ lab_group.id }}">
                              {% csrf_token %}
                              <button class="btn btn-light btn-outline-dark" type="submit" data-testid="group_{{ lab_group.id }}">Peruuta ilmoittautuminen</button>
                            </form>
                          </td>
                        {% else %}
                          <td>Ilmoittauduttu</td>
                        {% endif %}
                      {% elif lab_group.status == 2 %}
                        <td>Ilmoittautuminen päättynyt</td>
                      {% else %}
                        <td>
                          <button type="button" class="btn btn-light btn-outline-dark" data-bs-toggle="modal" data-bs-target="#enrollModal_{{ lab_group.id }}" data-testid="group_{{ lab_group.id }}">
                            Ilmoittaudu
                          </button>
                          <div class="modal fade" id="enrollModal_{{ lab_group.id }}" tabindex="-1" aria-labelledby="enrollModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="enrollModalLabel">Ilmoittautuminen ryhmään</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <b class="float-start">{{lab.name}}, {{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}} klo
                                    {% if lab_group.start_time.minute > 10 %}
                                      {{lab_group.start_time.hour}}:{{lab_group.start_time.minute}}
                                    {% else %}
                                      {{lab_group.start_time.hour}}:0{{lab_group.start_time.minute}}
                                    {% endif %} -
                                    {% if lab_group.end_time.minute > 10 %}
                                      {{lab_group.end_time.hour}}:{{lab_group.end_time.minute}}
                                    {% else %}
                                      {{lab_group.end_time.hour}}:0{{lab_group.end_time.minute}}
                                    {% endif %}
                                  </b>
                                </div>
                                <div class="modal-footer">
                                  <form method="POST" action="{% url 'enroll' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-light btn-outline-dark" data-testid="enroll_group_{{ lab_group.id }}">Ilmoittaudu</button>
                                    <input type="hidden" value="{{lab_group.id}}" name="group_id">
                                    <input type="hidden" value="{{user.id}}" name="user_id">
                                    <input type="hidden" value="{{lab_group.signed_up_students}}" name="students">
                                    <input type="hidden" value="{{lab.max_students}}" name="max_students">
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      {% endif %}
                      {% if lab_group.status == 1 %}
                        <td label="Status">Ei vahvistettu</td>
                      {% elif lab_group.status == 2 %}
                        <td label="Status">Vahvistettu</td>
                      {% elif lab_group.status == 3 %}
                        <td label="Status">Peruttu</td>
                      {% endif %}
                    </tr>
                  {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
{% endblock %}
