{% extends "layout.html" %}
{% block title %} Open Labs {% endblock %}
{% block content %}

{% load static %}
<script src = "{% static 'signup.js' %}"></script>
<script src = "{% static 'confirm.js' %}"></script>


<h1>Tulevat labrat</h1>
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th>Nimi</th>
      <th>Kuvaus</th>
      <th>Labrojen määrä</th>
      <th>Ajankohta</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.labs_amount }}</td>
    {% if course.is_visible %}
        <td>Kurssi tulossa pian</td>
    {% else %}
        <td>Kurssia ei tulossa</td>
    {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>

<h1>Avoimet labrat</h1>
{% for course in courses %}
<h3>Kurssi: {{course.name}}</h3>
<p>Suoritettavat laboratoriotyöt</p>
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th>Työ</th>
      <th>Kuvaus</th>
      <th>Oppilasmäärä / ryhmä</th>
    </tr>
  </thead>
  <tbody>
    {% for lab in labs %}
    {% if lab.course_id == course.id %}
    <tr>
      {% if lab.is_visible == 1 %}
      <td>{{lab.name}}</td>
      <td>{{lab.description}}</td>
      <td>{{lab.max_students}}</td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<p>Avoimet ryhmät</p>
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th>Laboratoriotyöt</th>
      <th>Päivämäärä</th>
      <th>Aika</th>
      <th>Paikka</th>
      <th>Ilmoittautuneita</th>
      <th>Ilmottautuminen</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for lab in labs %}
   {% if lab.course_id == course.id %}
    {% for lab_group in lab_groups %}
     {% if lab_group.lab_id == lab.id %}
      {% if lab.is_visible == 1 %}
       {% if lab_group.status != 0 %}
        <tr>
          <td>{{lab.name}}</td>
          <td>{{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}</td>
          <td>{{lab_group.start_time.hour}} - {{lab_group.end_time.hour}}</td>
          <td>{{lab_group.place}}</td>
          <td><div id = "signed_up{{ lab_group.id }}">{{ lab_group.signed_up_students }}</div>/{{lab.max_students}}</td>
          {% if user.is_staff %}
          <td>
           <button type="button" class="btn btn-light btn-outline-dark" data-testid="{{ lab.id }}" data-bs-toggle="modal" data-bs-target="#students{{lab_group.id}}">
            Katso ilmoittautuneet
           </button>
            <div class="modal fade" id="students{{lab_group.id}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="studentsLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
               <div class="modal-header">
                <h1 class="modal-title fs-5" id="studentsLabel">
                 Kurssin {{course.name}} laboratoriotyöhön {{lab.name}} ilmoittautuneet opiskelijat
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                {% for signup in signedup %}
                 {% if signup.labgroups_id == lab_group.id %} 
                  <p><b>{{signup.user}}:</b> {{signup.user.email}},  {{signup.user.student_id}}<br></p>
                 {% endif %}
                {% endfor %}
               </div>
               <div class="modal-footer">
               </div>
              </div>
             </div>
            </div>
           </td>
          {% elif lab_group.signed_up_students == lab.max_students %}
            <td>Täynnä</td>
          {% else %}
          <td>
            {% csrf_token %}
            <button class="btn btn-light btn-outline-dark" data-testid="{{ lab.id }}" onclick="signup(
              '{{ user.id }}', '{{ lab_group.id }}', '{{ lab.name }}',
              '{{ lab_group.signed_up_students }}', '{{ lab.max_students }}'
              );">Ilmoittaudu</button>
          </td>
          {% endif %}
          {% if lab_group.status == 1 %}
            {% if user.is_staff %}
            <td>
              {% if lab_group.signed_up_students > 0 %}
              <div id = "confirm{{ lab_group.id }}">
              {% csrf_token %}
              <button class="btn btn-light btn-outline-dark" onclick="confirm('{{ lab_group.id }}');">Vahvista</button>
              </div>
            {% else %} 
            Ei vielä tarpeeksi ilmoittautuneita
            {% endif %}
            </td>
            {% else %}
              <td>Ei vahvistettu</td>
            {% endif %}
          {% elif lab_group.status == 2 %}
           <td>Vahvistettu</td>
          {% elif lab_group.status == 3 %}
           <td>Peruttu</td>
          {% endif %}
         </tr>
       {% endif %}
      {% endif %}
     {% endif %}
    {% endfor %}
   {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
