{% extends "layout.html" %}
{% block title %} Palautukset {% endblock %}
{% block content %}
<div class="container-sm">
  <h1 class="float-left mb-3">Oppilaiden palautukset</h1>
  <div class="col-1">
    {% if limit == 0 %}
    <a href="/returned_reports/1" class="btn btn-light btn-outline-dark">Rajaa</a>
    {% else %}
    <a href="/returned_reports/0" class="btn btn-light btn-outline-dark">Näytä kaikki</a>
    {% endif %}
  </div>
  <br>
  {% for course in courses %}
  <table class="table table-bordered align-middle" id="mobile">
    <thead>
      <tr class="table-secondary">
        <th colspan="7">{{ course.name }}</th>
      </tr>
      <tr class="table-light">
        <th class="hide-on-mobile" width="10%">Ryhmä</th>
        <th class="hide-on-mobile" width="25%">Työ</th>
        <th class="hide-on-mobile" width="15%">Tekijä</th>
        <th class="hide-on-mobile" width="25%" colspan="2">Assistentti</th>
        <th class="hide-on-mobile" width="15%">Status</th>
        <th class="hide-on-mobile" width="10%">Arvostelu</th>
      </tr>
    </thead>
    <tbody>
      {% for lab in labs %}
      {% if lab.course_id == course.id %}
      {% for lab_group in lab_groups %}
      {% if lab_group.lab_id == lab.id %}
      {% for report in reports %}
      {% if report.lab_group_id == lab_group.id %}
      {% for user in users %}
      {% if user.id == report.student_id %}
      <tr>
        <td label="Ryhmä">{{lab_group.date.day}}.{{lab_group.date.month}}.{{lab_group.date.year}}</td>
        <td label="Työ">{{ lab.name }}</td>
        <td label="Tekijä">{{ user.first_name }} {{ user.last_name }}</td>
        <td label="Assistentti" class="border-right-0">
          {% if report.graded_by == None %}
            Ei assistenttia
          {% else %}
            {{ report.graded_by.first_name }} {{ report.graded_by.last_name }}
          {% endif %}
        </td>
        <td class="border-left-0">
          <button class="btn btn-light btn-outline-dark btn-sm" data-toggle="modal"
            data-target="#formModal_{{ report.id }}">Vaihda</button>
          <div class="modal fade" id="formModal_{{ report.id }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="formModalLabel">Vaihda assistenttia</h5>
                  <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>
                <form action="/returned_report/{{ report.id }}/{{ limit }}" method="POST">
                  {% csrf_token %}
                  <div class="modal-body">
                    <select class="form-select" name="assistant">
                      {% for assistant in users %}
                      {% if assistant.is_staff %}
                      <option value="{{ assistant.id }}">{{ assistant.first_name }} {{ assistant.last_name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-light btn-outline-dark">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td label="Status" data-testid="status_{{ report.id }}">
          {% if report.report_status == 0 %}
            Kesken
          {% elif report.report_status == 1 %}
            Palautettu
          {% elif report.report_status == 2 %}
            Korjauksessa
          {% elif report.report_status == 3 %}
            Korjattu
          {% else %}
            Arvosteltu ({{ report.grade }}/5)
          {% endif %}
        </td>
        <td label="Arvostelu">
          <a href="/evaluate_report/{{ report.id }}/{{ limit }}" class="btn btn-light btn-outline-dark"
            data-testid="open_{{report.id}}">Avaa</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}